@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ccc;
}

.comment {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.comment-avatar {
  max-width: 100px;
  margin-right: 10px;
  color:#000;
  text-align: center;
}

.user-icon {
  display: flex;
  width: 100px;
  height: auto;
  color:#000;
  margin-bottom: 10px;
}

.user-profile--link a{
  text-decoration: none;
  color: #409EFF;
}

.comment-body {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.user-comment {
  margin-bottom: 10px;
}

.comment-footer {
  display: flex;
}

.footer-item:not(:last-child) {
  margin-right: 5px;
}

.footer-icons {
  display: flex;
}

.footer-icons img{
  margin: -2px;
  border: 2px solid #fff;
  width: 20px;
  height: auto;
  border-radius: 9999px;
}

.nested-comment{
  margin-left: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    resize: none;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 100%;
}

@media screen and (max-width: 768px) {

  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ccc;
  }
  
  .comment {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .comment-avatar {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    color:#000;
  }
  
  .user-icon {
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 60px;
    height: auto;
    color:#000;
    margin-bottom: 10px;
  }
  
  .user-profile--link a{
    text-decoration: none;
    color: #409EFF;
  }
  
  .comment-body {
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .user-comment {
    margin-bottom: 10px;
  }
  
  .comment-footer {
    display: flex;
    /* margin-top: auto;
    margin-left: auto; */
  }
  
  .footer-item:not(:last-child) {
    margin-right: 5px;
  }
  
  .nested-comment{
    margin-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    /* max-width: 576px; */
    margin: 0 auto;
    padding: 10px;
    background-color: #ccc;
  }
  
  .comment {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .comment-avatar {
    margin-right: 10px;
    color:#000;
    padding: 10px;
    text-align: center;
    /* max-width: 80px; */
  }
  
  .user-icon {
    display: flex;
    /* width: 70px; */
    height: auto;
    color:#000;
    margin-bottom: 10px;
  }
  
  .user-profile--link a{
    text-decoration: none;
    color: #409EFF;
  }
  
  .comment-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    background-color: #eee;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .user-comment {
    margin-bottom: 10px;
  }
  
  .comment-footer {
    display: flex;
    /* margin-top: auto;
    margin-left: auto; */
  }
  
  .footer-item:not(:last-child) {
    margin-right: 5px;
  }
  
  .nested-comment{
    margin-left: 15px;
  }
  
}

@media screen and (max-width: 320px) {
  .comment {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .comment-avatar {
    padding: 0;
    width: 30px;
  }

  .user-icon {
    margin: 0 auto;
    width: 30px;
  }

  .user-profile--link a {
    font-size: 12px;
  }
  .user-name {
    font-size: 14px;
  }
  .user-comment {
    font-size: 12px;
  }


  .nested-comment{
    margin-left: 10px;
  }
}

